# 默认忽略的文件
/shelf/
/workspace.xml
# 数据源本地存储已忽略文件
/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
/compiler.xml
/encodings.xml
/jarRepositories.xml
/libraries/Maven__antlr_antlr_2_7_7.xml
/libraries/Maven__aopalliance_aopalliance_1_0.xml
/libraries/Maven__cglib_cglib_3_1.xml
/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
/libraries/Maven__cn_hutool_hutool_all_5_5_1.xml
/libraries/Maven__com_alibaba_cloud_spring_cloud_starter_alibaba_nacos_config_2_2_6_RELEASE.xml
/libraries/Maven__com_alibaba_easyexcel_2_2_10.xml
/libraries/Maven__com_alibaba_fastjson_1_2_76.xml
/libraries/Maven__com_alibaba_nacos_nacos_client_2_0_3.xml
/libraries/Maven__com_alibaba_spring_spring_context_support_1_0_10.xml
/libraries/Maven__com_baomidou_mybatis_plus_3_4_2.xml
/libraries/Maven__com_baomidou_mybatis_plus_annotation_3_4_2.xml
/libraries/Maven__com_baomidou_mybatis_plus_boot_starter_3_4_2.xml
/libraries/Maven__com_baomidou_mybatis_plus_core_3_4_2.xml
/libraries/Maven__com_baomidou_mybatis_plus_extension_3_4_2.xml
/libraries/Maven__com_beust_jcommander_1_72.xml
/libraries/Maven__com_carrotsearch_thirdparty_simple_xml_safe_2_7_1.xml
/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_11_4.xml
/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_11_4.xml
/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_11_4.xml
/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_xml_2_11_4.xml
/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_11_4.xml
/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_11_4.xml
/libraries/Maven__com_fasterxml_jackson_module_jackson_module_jaxb_annotations_2_11_4.xml
/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_11_4.xml
/libraries/Maven__com_fasterxml_woodstox_woodstox_core_6_2_1.xml
/libraries/Maven__com_github_ben_manes_caffeine_caffeine_2_6_2.xml
/libraries/Maven__com_github_jai_imageio_jai_imageio_core_1_4_0.xml
/libraries/Maven__com_github_jsqlparser_jsqlparser_4_0.xml
/libraries/Maven__com_github_luben_zstd_jni_1_4_4_7.xml
/libraries/Maven__com_github_virtuald_curvesapi_1_04.xml
/libraries/Maven__com_github_xiaoymin_knife4j_annotations_2_0_9.xml
/libraries/Maven__com_github_xiaoymin_knife4j_core_2_0_9.xml
/libraries/Maven__com_github_xiaoymin_knife4j_micro_spring_boot_starter_2_0_9.xml
/libraries/Maven__com_github_xiaoymin_knife4j_spring_2_0_9.xml
/libraries/Maven__com_github_xiaoymin_knife4j_spring_boot_autoconfigure_2_0_9.xml
/libraries/Maven__com_github_xiaoymin_knife4j_spring_boot_starter_2_0_9.xml
/libraries/Maven__com_github_xiaoymin_knife4j_spring_ui_2_0_9.xml
/libraries/Maven__com_google_code_findbugs_jsr305_3_0_1.xml
/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
/libraries/Maven__com_google_code_gson_gson_2_8_7.xml
/libraries/Maven__com_google_errorprone_error_prone_annotations_2_3_4.xml
/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
/libraries/Maven__com_google_guava_guava_30_0_jre.xml
/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
/libraries/Maven__com_google_inject_guice_4_1_0.xml
/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
/libraries/Maven__com_google_zxing_core_3_3_3.xml
/libraries/Maven__com_google_zxing_javase_3_3_3.xml
/libraries/Maven__com_itextpdf_itextpdf_5_5_13.xml
/libraries/Maven__com_netflix_archaius_archaius_core_0_7_7.xml
/libraries/Maven__com_netflix_eureka_eureka_client_1_10_14.xml
/libraries/Maven__com_netflix_eureka_eureka_core_1_10_14.xml
/libraries/Maven__com_netflix_hystrix_hystrix_core_1_5_18.xml
/libraries/Maven__com_netflix_netflix_commons_netflix_commons_util_0_3_0.xml
/libraries/Maven__com_netflix_netflix_commons_netflix_eventbus_0_3_0.xml
/libraries/Maven__com_netflix_netflix_commons_netflix_infix_0_3_0.xml
/libraries/Maven__com_netflix_netflix_commons_netflix_statistics_0_1_1.xml
/libraries/Maven__com_netflix_ribbon_ribbon_2_3_0.xml
/libraries/Maven__com_netflix_ribbon_ribbon_core_2_3_0.xml
/libraries/Maven__com_netflix_ribbon_ribbon_eureka_2_3_0.xml
/libraries/Maven__com_netflix_ribbon_ribbon_httpclient_2_3_0.xml
/libraries/Maven__com_netflix_ribbon_ribbon_loadbalancer_2_3_0.xml
/libraries/Maven__com_netflix_ribbon_ribbon_transport_2_3_0.xml
/libraries/Maven__com_netflix_servo_servo_core_0_12_21.xml
/libraries/Maven__com_squareup_okhttp3_okhttp_3_14_9.xml
/libraries/Maven__com_squareup_okio_okio_1_17_2.xml
/libraries/Maven__com_stoyanr_evictor_1_0_0.xml
/libraries/Maven__com_sun_activation_jakarta_activation_1_2_2.xml
/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_12.xml
/libraries/Maven__com_sun_jersey_contribs_jersey_apache_client4_1_19_1.xml
/libraries/Maven__com_sun_jersey_jersey_client_1_19_1.xml
/libraries/Maven__com_sun_jersey_jersey_client_1_19_4.xml
/libraries/Maven__com_sun_jersey_jersey_core_1_19_1.xml
/libraries/Maven__com_sun_jersey_jersey_server_1_19_4.xml
/libraries/Maven__com_sun_jersey_jersey_servlet_1_19_4.xml
/libraries/Maven__com_sun_mail_javax_mail_1_6_2.xml
/libraries/Maven__com_thoughtworks_xstream_xstream_1_4_16.xml
/libraries/Maven__com_zaxxer_HikariCP_3_4_5.xml
/libraries/Maven__commons_beanutils_commons_beanutils_1_9_3.xml
/libraries/Maven__commons_codec_commons_codec_1_14.xml
/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
/libraries/Maven__commons_configuration_commons_configuration_1_8.xml
/libraries/Maven__commons_configuration_commons_configuration_1_10.xml
/libraries/Maven__commons_fileupload_commons_fileupload_1_4.xml
/libraries/Maven__commons_io_commons_io_2_2.xml
/libraries/Maven__commons_io_commons_io_2_5.xml
/libraries/Maven__commons_jxpath_commons_jxpath_1_3.xml
/libraries/Maven__commons_lang_commons_lang_2_6.xml
/libraries/Maven__commons_logging_commons_logging_1_2.xml
/libraries/Maven__fr_opensagres_xdocreport_fr_opensagres_xdocreport_converter_2_0_2.xml
/libraries/Maven__fr_opensagres_xdocreport_fr_opensagres_xdocreport_core_2_0_2.xml
/libraries/Maven__fr_opensagres_xdocreport_fr_opensagres_xdocreport_document_2_0_2.xml
/libraries/Maven__fr_opensagres_xdocreport_fr_opensagres_xdocreport_document_docx_2_0_2.xml
/libraries/Maven__fr_opensagres_xdocreport_fr_opensagres_xdocreport_template_2_0_2.xml
/libraries/Maven__fr_opensagres_xdocreport_fr_opensagres_xdocreport_template_freemarker_2_0_2.xml
/libraries/Maven__io_github_classgraph_classgraph_4_1_7.xml
/libraries/Maven__io_github_x_stream_mxparser_1_2_1.xml
/libraries/Maven__io_lettuce_lettuce_core_5_3_7_RELEASE.xml
/libraries/Maven__io_micrometer_micrometer_core_1_5_14.xml
/libraries/Maven__io_minio_minio_8_2_2.xml
/libraries/Maven__io_netty_netty_buffer_4_1_65_Final.xml
/libraries/Maven__io_netty_netty_codec_4_1_65_Final.xml
/libraries/Maven__io_netty_netty_codec_http2_4_1_65_Final.xml
/libraries/Maven__io_netty_netty_codec_http_4_1_65_Final.xml
/libraries/Maven__io_netty_netty_codec_socks_4_1_65_Final.xml
/libraries/Maven__io_netty_netty_common_4_1_65_Final.xml
/libraries/Maven__io_netty_netty_handler_4_1_65_Final.xml
/libraries/Maven__io_netty_netty_handler_proxy_4_1_65_Final.xml
/libraries/Maven__io_netty_netty_resolver_4_1_65_Final.xml
/libraries/Maven__io_netty_netty_transport_4_1_65_Final.xml
/libraries/Maven__io_netty_netty_transport_native_epoll_linux_x86_64_4_1_65_Final.xml
/libraries/Maven__io_netty_netty_transport_native_unix_common_4_1_65_Final.xml
/libraries/Maven__io_projectreactor_addons_reactor_extra_3_3_6_RELEASE.xml
/libraries/Maven__io_projectreactor_netty_reactor_netty_0_9_20_RELEASE.xml
/libraries/Maven__io_projectreactor_reactor_core_3_3_17_RELEASE.xml
/libraries/Maven__io_prometheus_simpleclient_0_5_0.xml
/libraries/Maven__io_reactivex_rxjava_1_3_8.xml
/libraries/Maven__io_reactivex_rxnetty_0_4_9.xml
/libraries/Maven__io_reactivex_rxnetty_contexts_0_4_9.xml
/libraries/Maven__io_reactivex_rxnetty_servo_0_4_9.xml
/libraries/Maven__io_springfox_springfox_bean_validators_2_10_5.xml
/libraries/Maven__io_springfox_springfox_core_2_10_5.xml
/libraries/Maven__io_springfox_springfox_schema_2_10_5.xml
/libraries/Maven__io_springfox_springfox_spi_2_10_5.xml
/libraries/Maven__io_springfox_springfox_spring_web_2_10_5.xml
/libraries/Maven__io_springfox_springfox_spring_webmvc_2_10_5.xml
/libraries/Maven__io_springfox_springfox_swagger2_2_10_5.xml
/libraries/Maven__io_springfox_springfox_swagger_common_2_10_5.xml
/libraries/Maven__io_swagger_swagger_annotations_1_5_22.xml
/libraries/Maven__io_swagger_swagger_models_1_5_22.xml
/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/libraries/Maven__jakarta_persistence_jakarta_persistence_api_2_2_3.xml
/libraries/Maven__jakarta_transaction_jakarta_transaction_api_1_3_3.xml
/libraries/Maven__jakarta_validation_jakarta_validation_api_2_0_2.xml
/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
/libraries/Maven__javax_activation_activation_1_1.xml
/libraries/Maven__javax_activation_javax_activation_api_1_2_0.xml
/libraries/Maven__javax_inject_javax_inject_1.xml
/libraries/Maven__javax_ws_rs_jsr311_api_1_1_1.xml
/libraries/Maven__javax_xml_bind_jaxb_api_2_3_1.xml
/libraries/Maven__joda_time_joda_time_2_3.xml
/libraries/Maven__mysql_mysql_connector_java_8_0_25.xml
/libraries/Maven__net_bytebuddy_byte_buddy_1_10_22.xml
/libraries/Maven__org_antlr_antlr_runtime_3_4.xml
/libraries/Maven__org_antlr_stringtemplate_3_2_1.xml
/libraries/Maven__org_apache_commons_commons_collections4_4_1.xml
/libraries/Maven__org_apache_commons_commons_jexl3_3_1.xml
/libraries/Maven__org_apache_commons_commons_math_2_2.xml
/libraries/Maven__org_apache_commons_commons_pool2_2_8_1.xml
/libraries/Maven__org_apache_httpcomponents_httpasyncclient_4_1_4.xml
/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_13.xml
/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_14.xml
/libraries/Maven__org_apache_httpcomponents_httpcore_nio_4_4_14.xml
/libraries/Maven__org_apache_kafka_kafka_clients_2_5_1.xml
/libraries/Maven__org_apache_logging_log4j_log4j_api_2_18_0.xml
/libraries/Maven__org_apache_logging_log4j_log4j_core_2_18_0.xml
/libraries/Maven__org_apache_logging_log4j_log4j_jul_2_18_0.xml
/libraries/Maven__org_apache_logging_log4j_log4j_slf4j_impl_2_18_0.xml
/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_13_3.xml
/libraries/Maven__org_apache_poi_poi_3_15.xml
/libraries/Maven__org_apache_poi_poi_3_17.xml
/libraries/Maven__org_apache_poi_poi_ooxml_3_15.xml
/libraries/Maven__org_apache_poi_poi_ooxml_schemas_3_15.xml
/libraries/Maven__org_apache_poi_poi_ooxml_schemas_3_17.xml
/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_46.xml
/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_46.xml
/libraries/Maven__org_apache_xmlbeans_xmlbeans_2_6_0.xml
/libraries/Maven__org_aspectj_aspectjweaver_1_9_6.xml
/libraries/Maven__org_bouncycastle_bcpkix_jdk15on_1_64.xml
/libraries/Maven__org_bouncycastle_bcprov_jdk15on_1_64.xml
/libraries/Maven__org_checkerframework_checker_qual_3_5_0.xml
/libraries/Maven__org_codehaus_jettison_jettison_1_4_0.xml
/libraries/Maven__org_codehaus_woodstox_stax2_api_4_2_1.xml
/libraries/Maven__org_dom4j_dom4j_2_1_3.xml
/libraries/Maven__org_ehcache_ehcache_3_8_1.xml
/libraries/Maven__org_freemarker_freemarker_2_3_31.xml
/libraries/Maven__org_glassfish_jakarta_el_3_0_3.xml
/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_4.xml
/libraries/Maven__org_glassfish_jaxb_txw2_2_3_4.xml
/libraries/Maven__org_hdrhistogram_HdrHistogram_2_1_9.xml
/libraries/Maven__org_hdrhistogram_HdrHistogram_2_1_12.xml
/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_1_2_Final.xml
/libraries/Maven__org_hibernate_hibernate_core_5_4_32_Final.xml
/libraries/Maven__org_hibernate_validator_hibernate_validator_6_1_7_Final.xml
/libraries/Maven__org_javassist_javassist_3_21_0_GA.xml
/libraries/Maven__org_javassist_javassist_3_25_0_GA.xml
/libraries/Maven__org_javassist_javassist_3_27_0_GA.xml
/libraries/Maven__org_jboss_jandex_2_2_3_Final.xml
/libraries/Maven__org_jboss_logging_jboss_logging_3_4_2_Final.xml
/libraries/Maven__org_jsoup_jsoup_1_13_1.xml
/libraries/Maven__org_jxls_jxls_2_6_0.xml
/libraries/Maven__org_jxls_jxls_poi_1_2_0.xml
/libraries/Maven__org_latencyutils_LatencyUtils_2_0_3.xml
/libraries/Maven__org_lz4_lz4_java_1_7_1.xml
/libraries/Maven__org_mapstruct_mapstruct_1_3_1_Final.xml
/libraries/Maven__org_mybatis_mybatis_3_5_6.xml
/libraries/Maven__org_mybatis_mybatis_spring_2_0_5.xml
/libraries/Maven__org_ow2_asm_asm_4_2.xml
/libraries/Maven__org_projectlombok_lombok_1_18_20.xml
/libraries/Maven__org_reactivestreams_reactive_streams_1_0_3.xml
/libraries/Maven__org_reflections_reflections_0_9_11.xml
/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_30.xml
/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_30.xml
/libraries/Maven__org_slf4j_slf4j_api_1_7_30.xml
/libraries/Maven__org_springframework_boot_spring_boot_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_actuator_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_actuator_autoconfigure_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_configuration_processor_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_devtools_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_actuator_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_cache_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jdbc_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jpa_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_data_redis_2_3_9_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_freemarker_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_log4j2_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_reactor_netty_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_security_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_validation_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_boot_spring_boot_starter_webflux_2_3_12_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_commons_2_2_9_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_context_2_2_9_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_gateway_server_2_2_9_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_loadbalancer_2_2_9_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_netflix_archaius_2_2_9_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_netflix_eureka_client_2_2_9_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_netflix_eureka_server_2_2_9_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_netflix_hystrix_2_2_9_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_netflix_ribbon_2_2_9_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_security_2_2_5_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_starter_2_2_9_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_starter_gateway_2_2_9_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_starter_loadbalancer_2_2_9_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_starter_netflix_archaius_2_2_9_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_starter_netflix_eureka_client_2_2_9_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_starter_netflix_eureka_server_2_2_9_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_starter_netflix_ribbon_2_2_9_RELEASE.xml
/libraries/Maven__org_springframework_cloud_spring_cloud_starter_security_2_2_5_RELEASE.xml
/libraries/Maven__org_springframework_data_spring_data_commons_2_3_9_RELEASE.xml
/libraries/Maven__org_springframework_data_spring_data_jdbc_2_0_9_RELEASE.xml
/libraries/Maven__org_springframework_data_spring_data_jpa_2_3_9_RELEASE.xml
/libraries/Maven__org_springframework_data_spring_data_keyvalue_2_3_9_RELEASE.xml
/libraries/Maven__org_springframework_data_spring_data_redis_2_3_9_RELEASE.xml
/libraries/Maven__org_springframework_data_spring_data_relational_2_0_9_RELEASE.xml
/libraries/Maven__org_springframework_kafka_spring_kafka_2_5_14_RELEASE.xml
/libraries/Maven__org_springframework_plugin_spring_plugin_core_2_0_0_RELEASE.xml
/libraries/Maven__org_springframework_plugin_spring_plugin_metadata_2_0_0_RELEASE.xml
/libraries/Maven__org_springframework_retry_spring_retry_1_2_5_RELEASE.xml
/libraries/Maven__org_springframework_security_spring_security_config_5_3_9_RELEASE.xml
/libraries/Maven__org_springframework_security_spring_security_core_5_3_9_RELEASE.xml
/libraries/Maven__org_springframework_security_spring_security_crypto_5_3_9_RELEASE.xml
/libraries/Maven__org_springframework_security_spring_security_rsa_1_0_9_RELEASE.xml
/libraries/Maven__org_springframework_security_spring_security_web_5_3_9_RELEASE.xml
/libraries/Maven__org_springframework_spring_aop_5_2_15_RELEASE.xml
/libraries/Maven__org_springframework_spring_aspects_5_2_15_RELEASE.xml
/libraries/Maven__org_springframework_spring_beans_5_2_15_RELEASE.xml
/libraries/Maven__org_springframework_spring_context_5_2_15_RELEASE.xml
/libraries/Maven__org_springframework_spring_context_support_5_1_10_RELEASE.xml
/libraries/Maven__org_springframework_spring_context_support_5_2_15_RELEASE.xml
/libraries/Maven__org_springframework_spring_core_5_2_15_RELEASE.xml
/libraries/Maven__org_springframework_spring_expression_5_2_15_RELEASE.xml
/libraries/Maven__org_springframework_spring_jcl_5_2_15_RELEASE.xml
/libraries/Maven__org_springframework_spring_jdbc_5_2_15_RELEASE.xml
/libraries/Maven__org_springframework_spring_messaging_5_2_15_RELEASE.xml
/libraries/Maven__org_springframework_spring_orm_5_2_15_RELEASE.xml
/libraries/Maven__org_springframework_spring_oxm_5_2_15_RELEASE.xml
/libraries/Maven__org_springframework_spring_tx_5_2_15_RELEASE.xml
/libraries/Maven__org_springframework_spring_web_5_2_15_RELEASE.xml
/libraries/Maven__org_springframework_spring_webflux_5_2_15_RELEASE.xml
/libraries/Maven__org_springframework_spring_webmvc_5_2_15_RELEASE.xml
/libraries/Maven__org_synchronoss_cloud_nio_multipart_parser_1_1_0.xml
/libraries/Maven__org_synchronoss_cloud_nio_stream_storage_1_1_3.xml
/libraries/Maven__org_xerial_snappy_snappy_java_1_1_7_3.xml
/libraries/Maven__org_yaml_snakeyaml_1_26.xml
/libraries/Maven__redis_clients_jedis_3_3_0.xml
/libraries/Maven__stax_stax_api_1_0_1.xml
/libraries/Maven__xmlpull_xmlpull_1_1_3_1.xml
/misc.xml
/modules.xml
/vcs.xml
